spring:
  application:
    name: configserver
  profiles:
    # active: native
    active: git
  cloud:
    config:
      server:
        # native:
          # search-locations: "classpath:/config"
          # search-locations: "file:///C://christy//workspace//Spring//Microservice//Udemy//config"
        git:
          uri: "https://github.com/christyjohn/Microservices_SpringBoot_Udemy_Config.git"
          default-label: main
          timeout: 5
          clone-on-start: true
          force-pull: true
server:
    port: 8071
